<h1 class="display-3">Listings By Country</h1>
<section class="jumbotron text-center">
<div class="row d-flex justify-content-center">
  <div id="card_italy" class="card mb-4 box-shadow" style="width: 20rem; ">
    <img src="../public/images/italy.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Italy</h5>
      <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
    </div>
  </div>
  <div id="card_india" class="card mb-4 box-shadow" style="width: 20rem;">
    <img src="../public/images/india.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">India</h5>
      <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
    </div>
  </div>
  <div id="card_india" class="card mb-4 box-shadow" style="width: 20rem;">
    <img src="../public/images/japan.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Japan</h5>
      <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
    </div>
  </div>
  <div id="card_india" class="card mb-4 box-shadow" style="width: 20rem;">
    <img src="../public/images/SouthKorea.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">South Korea</h5>
      <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
    </div>
  </div>
  <div id="card_india" class="card mb-4 box-shadow" style="width: 20rem;">
    <img src="../public/images/Thailand.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Thailand</h5>
      <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
    </div>
  </div>
  <div id="card_france" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/france.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">France</h5>
        <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
      </div>
    </div>
  <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/canada.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Canada</h5>
        <a href="/descriptions/{{_id}}" class="btn btn-secondary">View</a>
      </div>
    </div>
    <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/america.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">America</h5>
        <a href="/descriptions" class="btn btn-secondary">View</a>
      </div>
    </div>
    <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/germany.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Germany</h5>
        <a href="/descriptions" class="btn btn-secondary">View</a>
      </div>
    </div>
    <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/Switzerland.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Switzerland</h5>
        <a href="/descriptions" class="btn btn-secondary">View</a>
      </div>
    </div>
    <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/Spain.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Spain</h5>
        <a href="/descriptions" class="btn btn-secondary">View</a>
      </div>
    </div>
    <div id="card_canada" class="card mb-4 box-shadow" style="width: 20rem;">
      <img src="../public/images/England.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">England</h5>
        <a href="/descriptions" class="btn btn-secondary">View</a>
      </div>
    </div>
</div>
</section>
<button class="btn btn-light btn-lg"><a href="/logout">Click to Logout</a></button>